# Ignore C++ project files and external libraries from language statistics
"day-00/project cpp/**" linguist-vendored
**/json.hpp linguist-vendored

# Ensure HTML, CSS, and JS are actively tracked in repository stats
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
